@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


#questions,
#final,
#highscores,
#yaynay {
    display: none;  
  } 

ul.nobullets {
list-style-type: none;
}

.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: #28a745;
}

/* Media queries for background image from https://web.dev/optimize-css-background-images-with-media-queries/ */

/* Mobile */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url(../assets/images/markus-spiske-da7AMukpg2k-unsplash-med.jpg);
    }
}

/* Desktop */
@media (min-width: 1025px) {
    body {
	    background-image: url(../assets/images/markus-spiske-da7AMukpg2k-unsplash-med.jpg);
   }
}